nav
  div.title
    img.logo(src='img/logo.png')
    span='MGDA'
  ul
    li
      a(href='')='Início'
    li
      a(href='about.html')='Sobre'
    li
      a(href='members.html')='Membros'
    li
      a(href='projects.html')='Projetos'
    li
      a(href='contact.html')='Contato'
