nav
  span='MGDA'
  ul
    li
      a(href='/')='Início'
    li
      a(href='/about')='Sobre'
    li
      a(href='/members')='Membros'
    li
      a(href='/projects')='Projetos'
    li
      a(href='/contact')='Contato'
