doctype html
html
  include ../includes/head.pug
  body
    include ../includes/menu.pug
    div.root
      div.start
      div.middle
        h1.title='Membros'
        p.subtitle
          span='Quem já contribuiu com o grupo'
        div.content
          div#xtheosirian.member
            img.image(src='/img/man-running.png')
            div.text
              h1.name='Tiago Pedrozo do Nascimento'
                span.nick='xtheosirian'
              p.bio='Estudante de Ciência da Computação na Universidade Estadual de Maringa. Cursando o 5º ano, desenvolve um trabalho de conclusão do curso na área de Inteligência Artificial aplicada à jogos. Gosta de mencionar que é fã da Taylor Swift sempre que possível. Jogos preferidos incluem: MapleStory, Factorio, Portal 1 & 2 e a série Dark Souls.'
              div.divider
          div#andrmng.member
            img.image(src='/img/man-running.png')
            div.text
              h1.name='Andre Dias Menegazzo Pereira'
                span.nick='andrmng'
              p.bio='Estudante de Ciência da Computação na Universidade Estadual de Maringá. Cursando o 5º ano, possui mais informações aleatórias que muitos artigos da Wikipédia que são úteis nos momentos mais inesperados. Jogos preferidos incluem Tibia e DoTA 2, os quais provavelmente acompanhou desde o início.'
              div.divider
          div#giuseppe.member
            img.image(src='/img/man-running.png')
            div.text
              h1.name='Giuseppe Portolese'
                span.nick='?'
              p.bio='Atualmente no curso de mestrado em Ciência da Computação da Universidade Estadual de Maringá. Tem habilidade artística de mais de 8000, porém sua persona virtual é conhecida apenas por seletos apreciadores de suas obras.'
              div.divider
          div#w4ll3.member
            img.image(src='/img/man-running.png')
            div.text
              h1.name='Gregório Granado Magalhães'
                span.nick='w4ll3'
              p.bio='Estudante de Ciência da Computação na Universidade Estadual de Maringá. Cursando o 5º ano, prefere mexer com hardware, mas não fez Elétrica. Tal como o Andre, seus jogos preferidos incluem Tibia e DoTA 2.'
              div.divider
          div#lionswrath.member
            img.image(src='/img/man-running.png')
            div.text
              h1.name='Caio Toneti'
                span.nick='LionsWrath'
              p.bio='Atualmente no curso de mestrado em Ciência da Computação da Universidade Estadual de Maringá. Tem habilidade artística de mais de 8000, porém sua persona virtual é conhecida apenas por seletos apreciadores de suas obras.'
      div.end
