doctype html
html
  include ../includes/head.pug
  body
    include ../includes/menu.pug
    div.root
      div.start
      div.middle
        h1.title='Projetos'
        p.subtitle
          span='Projetos desevolvidos por nossos membros'
        div.content
          div#project-1.project
            img.image(src='/img/pill.png')
            div.text
              h1.title='Pacman'
              p.description='Foi desenvolvido para a mostra de profissões a fim de demonstrar uso de algoritmos de inteligência artificial, como A* para encontrar o menor caminho entre os pontos.'
              ul.team
                li='Tiago Pedrozo do Nascimento'
                li='André Dias Menegazzo Pereira'
                li='Juliano Cézar Chagas Tavarez'
                li='Gregório Granado Magalhães'
                li='Paulo Alexandre Piornedo Panucci'
          div.divider
          div#project-2.project
            img.image(src='/img/bomb.png')
            div.text
              h1.title='Bomberman'
              p.description='Desenvolvido para demonstração no minicurso do framework LibGDX, posteriormente também utilizado na mostra de profissões.'
              ul.team
                li='Tiago Pedrozo do Nascimento'
                li='André Dias Menegazzo Pereira'
                li='Juliano Cézar Chagas Tavarez'
                li='Gregório Granado Magalhães'
          div.divider
          div#project-3.project
            img.image(src='/img/wumpus.png')
            div.text
              h1.title='Roguelike Dungeon Crawler'
              p.description='Desenvolvido para uma disciplina na graduação e agora deve ser revisitado com novas mecânicas.'
              ul.team
                li='Tiago Pedrozo do Nascimento'
                li='André Dias Menegazzo Pereira'
                li='Bruno César'
          div.divider
          div#project-4.project
            img.image(src='/img/megaman.png')
            div.text
              h1.title='Sidescroller Plataforma 2D'
              p.description='Projeto para iniciar os novos associados às engines e desafios do desenvolvimento de jogos.'
              ul.team
                li='Edson Matheus Alexandre Cizeski'
                li='Tiago Pedrozo do Nascimento'
          div.divider
          div#project-5.project
            img.image(src='/img/rocket.png')
            div.text
              h1.title='Orbital Space Puzzle'
              p.description='Projeto baseado no jogo Orbient/Orbital.'
              ul.team
                li='Henri'
                li='André Dias Menegazzo Pereira'
                li='Raphael Franco'
      div.end
