doctype html
html
  include ../includes/head.pug
  body
    include ../includes/menu.pug
    div.root
      div.start
      div.middle
        h1.title='Projetos'
        p.subtitle
          span='Projetos desevolvidos por nossos membros'
        div.content
          div#project-1.project
            svg.image
            div.text
              h1.title='Pacman'
              p.description='Foi desenvolvido para a mostra de profissões a fim de demonstrar uso de algoritmos de inteligência artificial, como A* para encontrar o menor caminho entre os pontos.'
              ul.team
                li='Tiago Pedrozo do Nascimento'
                li='André Dias Menegazzo Pereira'
                li='Juliano Cézar Chagas Tavarez'
                li='Gregório Granado Magalhães'
                li='Paulo Alexandre Piornedo Panucci'
                li='Guilherme Chichanoski'
          div#project-2.project
            svg.image
            h1.title='Pacman'
            p.description='Foi desenvolvido para a mostra de profissões a fim de demonstrar uso de algoritmos de inteligência artificial, como A* para encontrar o menor caminho entre os pontos.'
            ul.team
              li='Tiago Pedrozo do Nascimento'
              li='André Dias Menegazzo Pereira'
              li='Juliano Cézar Chagas Tavarez'
              li='Gregório Granado Magalhães'
              li='Paulo Alexandre Piornedo Panucci'
              li='Guilherme Chichanoski'
          div#project-3.project
            svg.image
            h1.title='Pacman'
            p.description='Foi desenvolvido para a mostra de profissões a fim de demonstrar uso de algoritmos de inteligência artificial, como A* para encontrar o menor caminho entre os pontos.'
            ul.team
              li='Tiago Pedrozo do Nascimento'
              li='André Dias Menegazzo Pereira'
              li='Juliano Cézar Chagas Tavarez'
              li='Gregório Granado Magalhães'
              li='Paulo Alexandre Piornedo Panucci'
              li='Guilherme Chichanoski'
          div#project-4.project
            svg.image
            h1.title='Pacman'
            p.description='Foi desenvolvido para a mostra de profissões a fim de demonstrar uso de algoritmos de inteligência artificial, como A* para encontrar o menor caminho entre os pontos.'
            ul.team
              li='Tiago Pedrozo do Nascimento'
              li='André Dias Menegazzo Pereira'
              li='Juliano Cézar Chagas Tavarez'
              li='Gregório Granado Magalhães'
              li='Paulo Alexandre Piornedo Panucci'
              li='Guilherme Chichanoski'
          div#project-5.project
            svg.image
            h1.title='Pacman'
            p.description='Foi desenvolvido para a mostra de profissões a fim de demonstrar uso de algoritmos de inteligência artificial, como A* para encontrar o menor caminho entre os pontos.'
            ul.team
              li='Tiago Pedrozo do Nascimento'
              li='André Dias Menegazzo Pereira'
              li='Juliano Cézar Chagas Tavarez'
              li='Gregório Granado Magalhães'
              li='Paulo Alexandre Piornedo Panucci'
              li='Guilherme Chichanoski'
      div.end
